h1 {
    text-align: center;
    color: blue;
}

#pokedex td {
    width: 10%;
}

#pokedex img {
    /* Une image occupe 100% de sa case */
    width: 100%;
}

#pokemon {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid salmon;
}

#pokemon td {
    border: 1px solid salmon;
}

.attribut-pokemon {
    font-weight: bold;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

.valeur-pokemon {
    padding-left: 1em;
    padding-right: 1em;
}

#image {
    display: flex;
}

#image img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}